apiVersion: apps/v1
kind: Deployment
metadata:
   name: keda-demo
spec:
   replicas: 1
   selector:
      matchLabels:
         app: keda-demo
   template:
      metadata:
         labels:
            app: keda-demo
      spec:
         containers:
         - name: keda-demo
           image: localhost:32000/keda-demo:0.2.1 # local registry
           ports:
              - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
   name: keda-demo-service
   labels:
      app: keda-demo
spec:
   selector:
      app: keda-demo
   ports:
      - name: http
        protocol: TCP
        port: 8080
        targetPort: 8080
   type: LoadBalancer
