apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
   name: keda-demo-scaledobject
spec:
   scaleTargetRef:
      name: keda-demo
   minReplicaCount: 1
   maxReplicaCount: 6
   triggers:
      - type: prometheus
        metadata:
           serverAddress: http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
           threshold: '10'
           query: sum(rate(account_processing_seconds_count{service='keda-demo-service'}[30s]))
   advanced:
      horizontalPodAutoscalerConfig:
         behavior:
            scaleDown:
               stabilizationWindowSeconds: 30
               policies:
                  -  type: Pods
                     value: 1
                     periodSeconds: 15
